
#logo{
	width:25px;
	padding:1px;
	position: relative;
	vertical-align: middle;
}
#footerpage{
	width:100%;
	height:100%;
	position:fixed; /* contribue a enleve la barre de défilement*/
	overflow:hidden;
	text-align:center;
	/*background-image: url(../HTML/images/banner-916671_1920.jpg);*/
	
}
.footerlink,#lfooterlink,#linklogo{
	width:50px;
	position: relative;
	border-color:blue;
	border-right-style: double;
	padding:1px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	color: blue;
}
#lfooterlink{
border-right-style: none;/*ne pas afficher la barre pour le dernier*/
}



#ifooter{
	width:98%;
	border-style: none;
	position: relative;
	text-align: center;
	vertical-align:middle;
	overflow:hidden;
	display: block;
	height: 35px;
	z-index: 90;
	
}
header.pageheader {
	background-image: url(../HTML/images/eye-940641_640.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100px;
	top:-10px;
	position: relative;
	
}
footer.pagefooter {
	background-image: url(../HTML/images/eye-940641_640.jpg);
	background-size: 100% 100%;
	height: 70px;
	text-align:center;
	width:auto;
	position: relative;
	z-index: 10;
}




div#page{
	width:800px;
	text-align: justify;
	position: relative;
	left: 50%;
    margin-left: -400px;
    overflow: hidden;
    border-left: dotted;
    border-right: groove;
    top: 0px;
    background-image: url(../HTML/images/wave-64170_1920.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
    
}

body{
	text-align: center;
	overflow: auto;
}
/* code propre au menu deroulant */
div.menug{
	width: 200px;
	position: relative;
	top: -5px;
	border-color: #CB552D;
	border-left-style: solid;
	border-style: dotted;
	overflow: auto;
	
}

ul.n1 {
	list-style-type:none;
	margin: 1px;
	padding:3px;
    background-color: #ADCF4F;
    width: 90px;
    text-align: left;
    
    
}
ul.n2 {
	list-style-type:none;
    background-color: #FF00FF;
    width: 90px;
    position:relative;
    left:50px;
    text-align: left;
}

ul.n3 {
	list-style-type:none;
    background-color: #7CFC00;
    width: 70px;
    position:relative;
    left:50px;
    text-align: left;
}

a.menu{
	display: block;
	width:70px;
}

a.menu:hover{
	background-color: #FFF168;
	cursor: crosshair;
}
ul.n1>span{ background-color: #9370DB;}
ul.n1 ul.n2, ul.n2 ul.n3{display: none;}
li:hover>ul.n2,li>ul.n2>li:hover>ul.n3{
	display: block;
	float:right;
	}
	
