/* author: Johnny Tsheke */
/* -----------------------
 adaptation des proprietes aux classe bootstrap pour avoir
  des menus deroulants sant utilise le Javascript 
  ------------------------*/
.nav .nav{
	display: none;
}

.nav>li:hover .nav{
	display:block;
}
.nav>li:hover .nav>li{
	display: block;
}

.row>div>.nav-stacked>li>a{ /*selon hierarchie dans HTML*/
	background-color: blue;
	color: white;
}